body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: right;
}
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

td {
    text-align: right;
    padding: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

#HASH {
    display: flex;
    justify-content: space-between;
}


.btn-group button {
    display: block; /* Make the buttons appear below each other */
}
