/* general */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    margin-bottom: 10px; /* Adjust the margin between containers */
}

.container + .container {
    margin-top: 20px; /* Adjust the margin between containers */
}



/* pdf buttons */

.pdf-button-container {
    display: inline-flex;
    white-space: nowrap;
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pdf-button {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: none;
}

.pdf-button:hover {
    background-color: #f0f0f000;
    color: #555;
}

.info-button {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.info-button img {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
    transition: opacity 0.3s; /* Smooth transition */
}

.info-button:hover img {
    opacity: 0.5; /* Adjust the brightness on hover */
}

.info-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
}

.info-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
}


/* colors for buttons */

.gradient-generic {
    background: linear-gradient(45deg, #bbb, #ddd);
}


.gradient-purple1 {
    background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}

.gradient-purple2 {
    background: linear-gradient(45deg, #8354b4, #d0a1ff);
}

.gradient-blue1 {
    background: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
}

.gradient-blue2 {
    background: linear-gradient(45deg, #3c6df0, #6ac1ff);
}

.gradient-blue3 {
    background: linear-gradient(45deg, #87CEEB, #1E90FF);
}

.gradient-blue4 {
    background: linear-gradient(45deg, #6495ED, #87CEFA, #6495ED);
}

.gradient-lightblue1 {
    background: linear-gradient(45deg, #99d2e0, #e4f7ff);
}

.gradient-lightblue2 {
    background: linear-gradient(45deg, #B0E0E6, #87CEEB);
}

.gradient-red1 {
    background: linear-gradient(45deg, #ff3333, #ff9999);
}

.gradient-green1 {
    background: linear-gradient(45deg, #339933, #99cc99);
}

.gradient-green2 {
    background: linear-gradient(45deg, #35944d, #6fcf85);
}

.gradient-green3 {
    background: linear-gradient(45deg, #8BC34A, #64e668);
}

.gradient-pink1 {
    background: linear-gradient(45deg, #f397e7, #ffd1dc);
}

.gradient-orange1 {
    background: linear-gradient(45deg, #ffa94d, #ffd699);
}

.gradient-orange2 {
    background: linear-gradient(45deg, #ffb84d, #ffd699);
}

.gradient-brown1 {
    background: linear-gradient(45deg, #633c1f, #967045, #cfb9a6);
}

.gradient-brown2 {
    background: linear-gradient(45deg, #7b5740, #7e4812);

}

.gradient-brown3 {
    background: linear-gradient(45deg, #4e3828, #7b5740, #a78567);
}
