body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    direction: rtl; /* Add direction property */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    margin-bottom: 10px; /* Adjust the margin between containers */
}

.container + .container {
    margin-top: 20px; /* Adjust the margin between containers */
}

.pdf-link {
    white-space: nowrap;
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
}

.pdf-link:hover {
    background-color: #f0f0f000;
    color: #555;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul {
    margin-right: 20px; /* Change margin-left to margin-right */
}




.gradient-generic {
    background: linear-gradient(45deg, #bbb, #ddd);
}


.gradient-purple1 {
    background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}

.gradient-purple2 {
    background: linear-gradient(45deg, #8354b4, #d0a1ff);
}

.gradient-blue1 {
    background: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
}

.gradient-blue2 {
    background: linear-gradient(45deg, #3c6df0, #6ac1ff);
}

.gradient-red1 {
    background: linear-gradient(45deg, #ff3333, #ff9999);
}

.gradient-green1 {
    background: linear-gradient(45deg, #339933, #99cc99);
}

.gradient-green2 {
    background: linear-gradient(45deg, #35944d, #6fcf85);
}

.gradient-green3 {
    background: linear-gradient(to bottom, #8BC34A, #4CAF50);
}

.gradient-pink1 {
    background: linear-gradient(45deg, #f397e7, #ffd1dc);
}

.gradient-orange1 {
    background: linear-gradient(45deg, #ffa94d, #ffd699);
}

.gradient-orange2 {
    background: linear-gradient(45deg, #ffb84d, #ffd699);
}

.gradient-brown1 {
    background: linear-gradient(45deg, #633c1f, #967045, #cfb9a6);
}

.gradient-brown2 {
    background: linear-gradient(45deg, #7b5740, #7e4812);

}

.gradient-brown3 {
    background: linear-gradient(45deg, #4e3828, #7b5740, #a78567);
}
