ul {
    list-style: none;
}
  
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 10px; /* Remove any padding if necessary */
    margin: 0; /* Remove any margin if necessary */
}

.contact .icon-content {
    position: relative;
}

.contact .icon-content .tooltip {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.contact .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: 10px;
}

.contact .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.contact .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.contact .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.contact .icon-content a:hover {
    color: white;
}

.contact .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.contact .icon-content a:hover .filled {
    height: 100%;
}

.contact .icon-content a[data-social="github"] .filled,
.contact .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.contact .icon-content a[data-social="gmail"] .filled,
.contact .icon-content a[data-social="gmail"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}

.contact .icon-content a[data-social="youtube"] .filled,
.contact .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}
